.manageusersmaincontainer{
    width: 80vw;
}

.adduserinputitem{
    /* justify-content:space-evenly; */
    /* gap: 1vw; */
}

.manageuserstable{
    width: 95%;
    padding: 0 2vw;
    padding-top: 1vw;
}
.userinputerrormsgdiv{
    padding: 0 2vw;
}


@media only screen and (max-width: 800px) {
    .manageuserstable{
        padding: 2vh 2.5vw;
    }

}